doctype html
html(ng-app="skellieApp")
  head
    include ../blocks/head.jade

    block title
      title Default title

  body

    main
      block content

    include ../../components/footer-main/_default.jade
        
    include ../blocks/scripts.jade