
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

meta(name="description", content="155 characters. Call to action. Should be unique and not match content on the page")
meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

meta(property="og:title", content="Share Title")
meta(property="og:url", content="Share URL") 
meta(property="og:image" content="Share Image URL")
meta(property="og:audio" content="Share Audio URL")
meta(property="og:video" content="Share Video URL")
meta(property="og:description", content="Share Description")
meta(property="og:site_name", content="Site Name")

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="site twitter user name")
meta(name="twitter:title", content="Share Title")
meta(name="twitter:description", content="Share description")
meta(name="twitter:creator", content="creator twitter user name")
meta(name="twitter:image", content="Share Image URL")
meta(name="twitter:domain", content="Site Domain")

meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")

//- canonical language content example
//- meta(ng-if="language === 'es'" name="language" content="spanish")
//- meta(ng-if="language === 'en'" name="language" content="english")



//- script.
//-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 
//-   ga('create', 'UA-XXXXXX-XX', 'auto');
//-   ga('send', 'pageview');



