//- // jQuery CDN, and a local fallback;
//- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
//- script.
//-   window.jQuery || document.write('<script src="/js/lib/jquery.min.js"><\/script>');

//- // Angular CDN, and a local fallback;
script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js")
//- script.
//-   window.angular || document.write('<script src="/js/lib/angular.min.js"><\/script>');

//- // D3 CDN, and a local fallback;
//- script(src="//d3js.org/d3.v3.min.js")
//- script.
//-   window.d3 || document.write('<script src="/js/lib/d3.min.js"><\/script>');
  


script(src="/js/main.js")