//- // jQuery CDN, and a fallback;
//- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
//- script.
//-   window.jQuery || document.write('<script src="/js/lib/jquery.min.js"><\/script>');

script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js")
//- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js")

script.
  window.angular || document.write('<script src="/js/lib/angular.min.js"><\/script>');
  //- window.angular || document.write('<script src="/scripts/lib/angular-route.min.js"><\/script>');



script(src="/js/main.js")