// base.scss - Usage: global shared styles. Extend for specific components in component css

// .meta{
//   color:#7d7d7d;
//   font-size: 14px;
//   display: block;
//   margin-bottom: 5px;
//   &.meta-category{
//     text-transform: uppercase;
//   }
//   @media (max-width: $mobile){
//     font-size:12px;
//   }
// }  